.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px){
	    flex-wrap: wrap;
      justify-content:center;
  }
}

.image-about{
  min-width: 250px;
  height: 250px !important;
  padding: 10px;
}



.md-typeset .md-button {
@media screen and (max-width: 768px){
	    padding: 10px !important;
  }

}
